.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.alltype {
    background-color: transparent;
    border: none;
    color: #5E7793;
    text-align: right;
}

.alltype:focus {
    outline: none;
}