.alltype {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background-image: url("./dropdown.svg");
    width: 18px;
    height: 21px;
    background-color: transparent;
    border: none;
    margin-left: 4px;
}

label {
    color: var(--text-secondary, #5E7793);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    opacity: 0.87;
    /* 20.72px */
}

.alltype:focus {
    outline: none;
}