.callgrid {
    display: grid;
    width: 1440px;
    height: 100px;
    grid-template-rows: repeat(1,1fr);
}
.grid_header {
    display: flex;
    height: 82px;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    background-color: white;
    border-bottom: 1px solid;
}
.type_title {

}