.default {
  border-radius: 4px;
  border: 1px solid rgba(173, 191, 223, 0.4);
  background: #fff;
  width: 124px;
  height: 48px;
  padding: 14px;
  display: flex;
  align-items: center;
  color: #121212;
}

.default:hover {
  border-radius: 4px;
  border: 1px solid var(--ui-accent, #002cfb);
  background: #fff;
  width: 124px;
  height: 48px;
  padding: 14px;
  display: flex;
  align-items: center;
}

.default:click {
  border-radius: 4px;
  border: 1px solid var(--ui-accent, #002cfb);
  background: #fff;
  width: 124px;
  height: 48px;
  padding: 14px;
  display: flex;
  align-items: center;
}

.none {
  border-radius: 4px;
  border: 1px solid var(--ui-red, #ea1a4f);
  background: #fff;
  width: 124px;
  height: 48px;
  padding: 14px;
  display: flex;
  align-items: center;
}

p {
  color: #121212;
}
input {
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
