.panel {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-top: 20px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 753px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 20px;
}


.btnReset {
    background-color: transparent;
    border: none;
    text-align: right;

    /* text */
    color: var(--text-secondary, #5E7793);
    opacity: 0.87;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    /* 20.72px */

    cursor: pointer;
}

.spanReset {
    display: block;
    background-image: url("../../icons/close.svg");
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.btnContainer:hover .spanReset {
    cursor: pointer;
    background-image: url("../../icons/close_active.svg");
}

.btnContainer:hover .btnReset {
    color: #002CFB;
}