.panel {
    display: flex;
    justify-content: space-between;
    height: 48px;
    margin-top: 20px;
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 753px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.btnReset {
    background-color: transparent;
    border: none;
    color: #5E7793;
    text-align: right;
}

.spanReset {
    display: block;
    background-image: url("../../icons/close.svg");
    width: 15px;
    height: 15px;
    flex-shrink: 0;
}

.btnContainer:hover .spanReset {
    cursor: pointer;
    background-image: url("../../icons/close_active.svg");
}

.btnContainer:hover .btnReset{
    color: #002CFB;
}