.container {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 0;
    right: 0;

    /* text */
    color: var(--text-secondary, #5E7793);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    /* 20.72px */

    cursor: pointer;
}

.header {
    display: flex;
    background-color: transparent;
    border: none;
    text-align: right;
    opacity: 0.87;
}

.filtered {
    display: flex;
    justify-content: center;
    align-items: center;

    /* text */
    color: #002CFB;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    /* 114.286% */
    position: relative;
    top: 0;
    right: 0;
}

/* Стили для опций селекта */
.options {
    display: block;
    width: 204px;
    max-height: 330px;
    /* Максимальная высота контейнера */
    overflow-y: auto;
    /* Добавляем вертикальную прокрутку при необходимости */

    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #EAF0FA;
    background: #FFF;
    padding-top: 7px;

    /* выпадающее меню */
    box-shadow: 0px 0px 26px 0px rgba(233, 237, 243, 0.80);

    /* Позиционирование меню */
    position: absolute;
    top: 25px;
    right: -30px;
    z-index: 100;

}

/* Стили для опции - строка */
.option {
    width: 202px;
    height: 40px;
    padding: 0 10px 0 20px;
    display: flex;
    align-items: center;

    /* text */
    color: var(--text-header, #899CB1);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    /* 200% */
}


.option:hover {
    background: rgba(0, 44, 251, 0.13);

    /* text */
    color: #122945;
}

.option:first-child {
    width: 202px;
    height: 40px;
    padding: 0 10px 0 20px;
    display: flex;
    align-items: center;

    /* text */
    color: #002CFB;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    /* 200% */
}

/* для стрелок вниз/наверх */
.select_drop {
    background-image: url("../../icons/upDown/dropdown.svg");
    width: 18px;
    height: 21px;
}

.select_drop:hover {
    background-image: url("../../icons/upDown/dropdown_blue.svg");
    width: 18px;
    height: 21px;
}

.select_up {
    background-image: url("../../icons/upDown/getup.svg");
    width: 18px;
    height: 21px;
}