.partnership{
  display: flex;
  gap: 4px;
  margin-top: 21px;
}
.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("./assets/dropdown.svg");
  width: 18px;
  height: 21px;
  background-color: transparent;
  border: none;
}
.select:focus {
  outline: none;
}
.name {
  color: var(--text-header, #899cb1);
  font-size: 15px;
}
