.default {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url('./expand-more-default.svg');
    background-size: contain;
}

.default:hover {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url('./expand-more-hover.svg');
    background-size: contain;
}

.disabled {
    width: 24px;
    height: 24px;
    background-image: url('./expand-more-disabled.svg');
    background-size: contain;
}