.select_drop {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("./assets/dropdown.svg");
  width: 18px;
  height: 21px;
  background-color: transparent;
  border: none;
  margin-top: 9px;
  margin-left: 4px;
}
.select_up {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("./assets/getup.svg");
  width: 18px;
  height: 21px;
  background-color: transparent;
  border: none;
  margin-top: 9px;
  margin-left: 4px;
}
.select_drop:focus {
  outline: none;
}
.select_up:focus {
  outline: none;
}
