.incoming {
    width: 12.522px;
    height: 12.522px;
    background-position: center;
    background-size: cover;
    background-image: url("./image/Incoming.png");
}

.decline {
    width: 12.522px;
    height: 12.522px;
    background-position: center;
    background-size: cover;
    background-image: url("./image/Incoming_declined.png");
}