.call_wrapper {
    display: flex;
    width: 1440px;
    min-height: 65px;
    background-color: #FFF;
    align-items: center;
    border-bottom: 1px solid #EAF0FA;
    padding: 0 40px;
}
.status_raiting {
    display: flex;
    align-items: center;
    width: 106px;
    justify-content: space-between;
}
.time {
    margin-left: 32px;
    margin-right: 48px;
}
.employee_avatar{
    margin-right: 44px;
}
.webicon {
    margin-right: 32px;
}
.phone {
    margin-right: 80px;
    width: 254px;
}
.source {
    margin-right: 135px;
}
.duration {
    margin-left: auto;
}