.body {
    width: 522px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #EAF0FA;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}

.select {
    color: var(--text, #122945);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 124%;
    /* 17.36px */
}

.selectall {
    color: var(--ui-accent, #002CFB);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%;
    /* 17.36px */
}

.selectall:hover {
    color: #0024CB;
    cursor: pointer;
}

.recognize {
    color: var(--ui-accent, #002CFB);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 124%;
    /* 17.36px */
}

.recognize:hover {
    color: #0024CB;
    cursor: pointer;
}