.download {
    background-image: url('./download.svg');
    width: 13px;
    height: 16px;
    flex-shrink: 0;
    background-size: contain;
}

.download:hover {
    background-image: url('./download-hover.svg');
    width: 13px;
    height: 16px;
    flex-shrink: 0;
    background-size: contain;
}