.active {
  color: #274BC8;
  width: 200px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 25px 13px 25px;
  border-radius: 4px;
  border: 1px solid var(--ui-accent-active, #274BC8);
  background: #FFF;
}

.active:hover {
    color: white;
    width: 200px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 25px 13px 25px;
    border-radius: 4px;
    background: var(--ui, #0024CB);
}

.default {
    color: #002CFB;
    width: 200px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 25px 13px 25px;
    border-radius: 4px;
    border: 1px solid var(--ui-accent, #002CFB);
    background: #FFF;
}
