.active {
  color: #274bc8;
  width: 200px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500px;
}

.active:hover {
  cursor: pointer;
  color: var(--ui, #0024CB);
  width: 200px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500px;
}

.default {
  font-size: 14px;
  color: white;
  width: 200px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 25px 13px 25px;
  border-radius: 4px;
  background: var(--ui-accent, #005ff8);
}
