.conteiner {
  width: 1440px;
  height: 64px;
  background: #fff;
  box-shadow: 0px 4px 5px 0px #e9edf3;
  display: flex;
  justify-content: space-between;
}
.date {
  color: var(--text-header, #899cb1);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  margin-top: 21px;
}
.magnifier {
  margin: auto;
  margin-top: 21px;
  margin-right: 56px;

  margin-top: 21px;

}