.container {
  display: grid;
  grid-template-columns: 175px 200px 200px 200px 215px 350px 100px;
  justify-content: center;
  align-items: center;

  height: 64px;
  background: #fff;
  box-shadow: 0px 4px 5px 0px #e9edf3;

  /* text */
  color: var(--text-header, #899cb1);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  /* 22.2px */
}

.date {
  color: #899cb1;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
}

.magnifier {
  justify-self: end;
}
.partnership {
  justify-self: end;
}
.userlk {
  justify-self: end;
}
.block {
  display: block;
}
.none {
  display: none;
}
.select_drop {
  background-image: url("./assets/dropdown.svg");
  width: 18px;
  height: 21px;
}
.select_drop:hover {
  background-image: url("./assets/dropdown_blue.svg");
  width: 18px;
  height: 21px;
}
.select_up {
  background-image: url("./assets/getup.svg");
  width: 18px;
  height: 21px;
}