.balanceElem {
    border-radius: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 10px;
    width: 145px;
}

.balanceText {
    font-size: 14px;
    color: var(--text-header, #899CB1);
}

.balanceSum {
    font-size: 14px;
    margin-left: 3px;
}

.balanceRUR {
    font-size: 14px;
    margin-left: 1px;
}

.balanceIMG {
    margin-left: 10px;
    height: 24px;
    width: 24px;
    background-image: url('./balance_plus_active.svg');
}

.balanceIMG:hover {
    cursor: pointer;
    height: 24px;
    width: 24px;
   background-image: url('./balance_plus_hover.svg');
}