/* Body table */
.body {
    padding-left: 40px;
    background: #FFF;
    margin-top: 7px;

    border-radius: 8px;
    box-shadow: 0px 4px 5px 0px #E9EDF3;
}

/* Header */
.gridheader {
    grid-column: span 7;
    display: grid;
    grid-template-columns: 53px 86px 130px 326px 214px 200px 360px;
    height: 60px;

    /* text */
    color: var(--text-header, #899CB1);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 14px */
    align-items: center;
}

/* Footer table */
.gridfooter {
    height: 57px;
}

.right {
    justify-self: end;
}