.custom-audio-player {
    width: 352px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 48px;
    background: #EAF0FA;
    text-align: center;
}

.player-controls {
    display: flex;
    align-items: center;
    height: 48px;
}

.time-display {
    color: var(--text, #122945);
    text-align: right;
    font-family: SF Pro Display;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    /* 21.75px */
    padding:  0 12px 0 18px;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding-right: 8px;
}


.progress {
    width: 164px;
    height: 4px;
    flex-shrink: 0;
    border-radius: 50px;
    background: var(--ui-icon, #ADBFDF);
    margin-right: 18px;
}

a{
    margin-right: 12px;
}

a svg path[fill]:hover {
    fill: var(--ui-accent, #002CFB);
}

