.findcall {
    display: flex;
    align-items: center;
    width: 500px;
}

.image {
    height: 16px;
    width: 16px;
}

input {
    background-color: transparent;
    border-style: none;
    margin-left: 12px;

    /* text */
    color: var(--text-secondary, #5E7793);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    /* 19.6px */
    opacity: 0.87;
}

input:focus {
    outline: none;
}