.active {
    font-size: 14px;
  border-radius: 4px;
  background: var(--ui-accent-active, #274bc8);
  color: white;
  padding: 9px 24px 11px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 122px;
  height: 41px;
}

.active:hover {
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    background: var(--ui, #0024CB);
    color: white;
    padding: 9px 24px 11px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 41px;
}

.default {
    font-size: 14px;
    border-radius: 4px;
    background: var(--ui-accent, #002CFB);
    color: white;
    padding: 9px 24px 11px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    height: 41px;
}