.body {
    width: 240px;
    height: 100%;
    flex-shrink: 0;
    background: #091336;

    /*text*/
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    cursor: pointer;
}

.logo {
    padding: 20px 0 0 12px;
    width: 109px;
    flex-shrink: 0;
}

.navigation {
    padding: 32px 0 64px 0;
}

.navigation li {
    list-style: none;

    display: flex;
    width: 240px;
    height: 52px;
    padding: 14px 22px 14px 12px;
    align-items: flex-start;
    gap: 12px;

    /*text*/
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.navigation a {
    padding-left: 12px;
    text-decoration: none;
    color: inherit;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 163px;
}

.active_menu {
    width: 240px;
    height: 52px;
    flex-shrink: 0;
    background: rgba(216, 228, 251, 0.32);
    border-left: 3px solid #002CFB;
    padding: 0;
    text-align: center;
}

.activeelem {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--ui-yellow, #FFD500);
    filter: drop-shadow(0px 3px 8px rgba(237, 218, 1, 0.50));
    background-image: url('../../icons/new.svg');
    margin-left: 80px;
}