.default {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url(./help_pressed.svg);
    background-size: contain;   
}

.default:hover {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url(./help_hover.svg);
    background-size: contain;  
}

.disabled {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url(./help_default.svg);
    background-size: contain;  
}