.button {
    display: flex;
    width: 160px;
    height: 40px;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;

    border-radius: 48px;
    border: none;
    background: #FFF;

    /*text*/
    color: var(--text-header, #899CB1);
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    /* 20.72px */

}

.labeltext {
    color: var(--text, #122945);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 148%;
    display: flex;
    align-items: center;
}

.labeltext:hover {
    color: var(--ui, #0024CB);
}

.labeltext span{
    margin-right: 10px;
}

.svgbtn {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: var(--ui-accent, #002CFB);
    cursor: pointer;
}
