.outgoing {
    width: 12.522px;
    height: 12.522px;
    background-position: center;
    background-size: cover;
    background-image: url("./image/OutgoingCall.png");
}
.declined {
    background-image: url("./image/OutgoingCall_declined.png");
}