.good {
    height: 8px;
    width: 28px;
    background-repeat: none;
    background-position: center;
    background-image: url('./good_rating.svg');
    margin-right: 10px;
}

.bad {
    height: 8px;
    width: 28px;
    background-repeat: none;
    background-image: url('./bad_rating.svg');
    margin-right: 10px;
}

.soso {
    height: 8px;
    width: 28px;
    background-repeat: none;
    background-image: url('./soso_rating.svg');
    margin-right: 10px;
}